@font-face {
  font-family: 'nasin-nanpa';
  src: url('nasin-nanpa.otf');
}

.sp {
  font-family: 'nasin-nanpa';
  font-size: 160%;
}

.sp-ala {
  font-variant-ligatures: none;
  font-size: 75%;
}

html {
  background-color: #209277;
  font-family: Sans-serif;
  color: #DBFFDB;
}

body {
  background-color: #3B052D;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 22px;

}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #00FF44;
}

a:visited {
  color: #00FF84;
}

a:hover {
  color: #FF9B92;
}

details {
  margin-top: 24px;
}

summary {
  cursor: pointer;
  list-style: none;
  color: #00FF84;
}

details summary::before {
  content: "o open zz";
  font-family: 'nasin-nanpa';
  color: #00FF44;
}

details:hover summary,
details:hover summary::before
{
  color: #FF9B92;
}

details[open] summary::before {
  content: "o pini zz";
  font-family: 'nasin-nanpa';
}
