:root {
  --sp: "inline-block";
  --tp: "none";
  --en: "none";
}

@font-face {
  font-family: 'nasin-nanpa';
  src: url('nasin-nanpa.otf');
}

.sp {
  display: var(--sp);
  font-family: 'nasin-nanpa';
  font-size: 160%;
}

.tp {
  display: var(--tp);
}

.en {
  display: var(--en);
}

.sp-ala {
  font-variant-ligatures: none;
  font-size: 65%;
}

html {
  background-color: #209277;
  font-family: Sans-serif;
  color: #DBFFDB;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

body {
  background-color: #3B052D;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  border: 3px solid white;
  border-radius: 5px;
  padding: 1rem;
  padding-bottom: 0;

}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #00FF44;
}

a:visited {
  color: #00FF84;
}

a:hover {
  color: #FF9B92;
}

details {
  margin-top: 24px;
}

summary {
  cursor: pointer;
  list-style: none;
  color: #00FF84;
}

details summary::before {
  content: "o open zz";
  font-family: 'nasin-nanpa';
  color: #00FF44;
}

details:hover summary,
details:hover summary::before {
  color: #FF9B92;
}

details[open] summary::before {
  content: "o pini zz";
  font-family: 'nasin-nanpa';
}

table {
  height: 100%;
  table-layout: fixed;
  padding-top: 22px;
}

table th {
  width: 420px;
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: left;
 }

table td {
  width: 420px;
  vertical-align: top;
  border-top: 1px dashed #209277;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

table th.tp,td.tp {
  width: 360px;
}

table th.sp,td.sp {
  width: 300px;
}


table td.sp {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}

details {
  margin: 0;
}

ul {
  margin-top: 0;
  padding-left: 1rem;
}

.sp ul {
  list-style-type: none;
  padding-left: 0;
}

.sp li:before {
  content: ".";
  font-family: 'nasin-nanpa';
}
